#contribute-title{
    font-size: 50px; 
    text-align: center;
    text-shadow: 2px 4px 1px rgba(0,0,0,0.075);
    margin-bottom: 25px;
}

#contribute-body {
    text-indent: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}
