* {
    font-family: Verdana;    
    /*background-color: #EEEEEE;
     */
}

#body {
    width: 100%;
}

.navbar-light .navbar-toggler .white {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#footer {
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    }

#footer-link {
    display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

@media only screen and (max-height:500px){
    #bottom {
        margin-bottom: 54px;
    }
}

@media only screen and (max-width:830px){
    #bottom {
        margin-bottom: 54px;
    }
}
