#uses-title{
    font-size: 50px; 
    text-align: center;
    text-shadow: 2px 4px 1px rgba(0,0,0,0.075);
    margin-bottom: 25px;
}

body {
    height: 100%;
}

#uses-body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.bottom-space{
    margin-bottom: 25px;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 30px auto;
    grid-template-rows: 100px 30px 100px 30px 100px 30px 100px 60px; 
    grid-auto-rows: min-content;
}

@media only screen and (max-width:900px){
.grid-container{
    display: grid;
    grid-template-columns: 200px 30px auto;
    grid-template-rows: 150px 30px 150px 30px 175px 30px 150px 0px; 
    grid-auto-rows: min-content;
}
}

@media only screen and (max-width:800px){
.grid-container{
    display: grid;
    grid-template-columns: 200px 30px auto;
    grid-template-rows: 150px 30px 150px 30px 200px 30px 150px 0px; 
    grid-auto-rows: min-content;
}
}

@media only screen and (max-width:700px){
.grid-container{
    display: grid;
    grid-template-columns: 200px 30px auto;
    grid-template-rows: 200px 30px 200px 30px 275px 30px 200px 0px; 
    grid-auto-rows: min-content;
}
}

@media only screen and (max-width:550px){
.grid-container{
    display: grid;
    grid-template-columns: 200px 30px auto;
    grid-template-rows: 250px 30px 250px 30px 325px 30px 250px 0px; 
    grid-auto-rows: min-content;
}
}





.col1 {
    grid-column-start: 1;
    justify-self: right;
}
.col2 {
    grid-column-start: 3;
}

.row1 {
    grid-row-start: 1;
}

.row2 {
    grid-row-start: 3;
}

.row3 {
    grid-row-start: 5;
}

.row4 {
    grid-row-start: 7;
}

img {
    max-width: 200px;
    max-height: 100px;
}
